.newpostheader-div{
    width: 40%;
    text-align: left;
    margin: auto;
    background-color: lightgray;
}

.newpost-div{
    background-color: gray;
    padding-left: 12px;
}

.radio-div{
    padding-left: 12px;
}

.field{
    display: inline;
    padding-right: 20px;
}

.ui-radio-checkbox{
    display: inline;
}